<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOG_DIR" value="logs" />
    <property name="AUDIT_LOG_FILE" value="audit"/>
    <property name="ERROR_LOG_FILE" value="error" />

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d ${HOSTNAME} %-5level %t %logger - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="AUDIT-FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d ${HOSTNAME} %-5level %t %logger - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${AUDIT_LOG_FILE}.${HOSTNAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ERROR-FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d ${HOSTNAME} %-5level %t %logger - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${ERROR_LOG_FILE}.${HOSTNAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="AUDIT-FILE-LOG"/>
    </root>

    <logger name="errorLogger" level="ERROR" additivity="true">
        <appender-ref ref="ERROR-FILE-LOG" />
    </logger>
</configuration>